@{
}

@model List<Group>

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Group Name</td>
            <td>Group Size</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Date</td>
            <td>Time Slot</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <td>@x.GroupName</td>
            <td>@x.GroupSize</td>
            <td>@x.Email</td>
            <td>@x.Phone</td>
            <td>@x.TimeSlot.Date</td>
            <td>@x.TimeSlot.Time</td>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-groupid="@x.GroupId" asp-route-timeid="@x.TimeSlotId">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-groupid="@x.GroupId" asp-route-timeid="@x.TimeSlotId">Delete</a></td>
        </tr>
        }
    </tbody>

</table>